{% extends 'base.html' %}

{% block title %} Iniciar Sesion{% endblock %}

{% block content %}
<br>
<h1>Iniciar Sesion</h1>
<br><br>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <form>
            <div class="form-group">
              <input type="text" class="form-control" name="username" placeholder="Usuario">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="Contraseña">
            </div>
            <button class="btn btn-secondary">Iniciar Sesion</button>
          </form>
        
    </form>
</div>



{% endblock %}