{% extends 'base.html' %}

{% block title %}{{ post.titulo }} | {{ post.titulo_tag }}{% endblock %}

{% block content %}
<br>

<h1>{{ post.titulo }}</h1>
<small>De: {{ post.autor.first_name }} 
           {{ post.autor.last_name }}
           <small>
            <a href="{% url 'actualizar_post' post.pk %}">(Editar)</a>
            <a href="{% url 'eliminar_post' post.pk %}" class="text-danger">(Eliminar)</a>
          </small><br>
</small><br>
<hr>
{{ post.articulo }}
<br>
<br>

<a href="{% url 'home' %}" class="btn btn-primary">atras</a>

{% endblock %}
