{% extends 'base.html' %}
{% block content %}
<br>
<h1>Posts</h1>

<ul>
    {% for post in object_list %}
        <li><a href="{% url 'detalle_articulo' post.pk %}">
            {{ post.titulo }}</a> - 
            {{ post.autor.first_name }}
            {{ post.autor.last_name }} - 
            {{ post.fecha_publicacion }} -
            <small>
                <a href="{% url 'actualizar_post' post.pk %}">(Editar)</a>
                <a href="{% url 'eliminar_post' post.pk %}" class="text-danger">(Eliminar)</a>
                
            </small>
            <br>
        {{ post.articulo }}</li>
    {% endfor %} 
</ul>
{% endblock %}